{% extends 'base.html.twig' %}

{% block title %}Acceder{% endblock %}

{% block body %}
<div class="container mt-5 mb-5 text-center justify-content-center">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registrarme</a>
                </li>
            </ul>
        </div> 
        <div class="card-body">
            <h3 class="h3 mb-3 text-dark">¡Bienvenid@ a IF-ORMATICOS FC!</h3>

            <!-- Inicio formulario -->
            <form method="post">
                <!-- Mensajes error -->
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <!-- Email -->
                <div class="row mt-4"> 
                    <div class="col">Email:</div> 
                    <div class="col">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control text-center" required autofocus placeholder="Introduce el email">
                        <small class="text-success">No compartiremos tu correo con nadie</small>                        

                    </div>                        
                </div>

                <!-- Contraseña -->
                <div class="row mt-4"> 
                    <div class="col">Contraseña:</div>                        
                    <div class="col">
                        <input type="password" name="password" id="inputPassword" placeholder="Introduce la contraseña" class="form-control text-center" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>                        
                </div>

                <!-- Botón de acceder --> 
                <div class="row mt-4"> 
                    <div class="col">
                        <button class="btn btn-outline-success" type="submit">Acceder</button>
                    </div>                       
                </div> 

            <!-- Fin formulario -->
            </form>
        </div>   
    </div>   
</div> 
{% endblock %}