{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
    {{parent()}}

    <div id="app">
        <Home />    
    </div>  

{% endblock %}

{% block javascripts %}
{% endblock %}