<title>{% block title %}Usuarios{% endblock %}</title>

{{ encore_entry_link_tags('css/app') }}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
{% endblock %}

{% block body %}

    {{ dump(usuarios) }}

{% endblock %}
