{% extends 'base.html.twig' %}

{% block title %}Quiero ser entrenador =){% endblock %}

{% block body %}

    <div class="mt-5 mb-5 text-center container">
        <h1>¿Tienes el título de entrenador?</h1>
        <h2>Envíanoslo y dirige a alguno de nuestros equipos</h2>

        <img src="/img/entrenador.png" class="img-fluid" alt="entrenador">

        {{ form_start(formularioEntrenadores) }}

        <div class="input-group mt-3 mb-5">
            <div class="custom-file">
                {{ form_widget(formularioEntrenadores.titulacion,{'attr': {'class': 'form-control-file custom-file-input'}} )}}

                <label class="custom-file-label" for="inputGroupFile04">Elegir archivo</label>
            </div>
            <div class="input-group-append">
                {{ form_widget(formularioEntrenadores.Enviar,{'attr': {'class': 'form-control-file btn btn-outline-success'}} )}}
            </div>
        </div>


        {{ form_end(formularioEntrenadores) }}

    </div>
    
{% endblock %}
