{% extends 'base.html.twig' %}

{% block title %}Quiero ser socio =){% endblock %}

{% block body %}
    {{ parent() }}

    <div id="app">
        <Socio />  
    </div>
    asdasdsad

    <div class="">
        {{ form(formularioSocios)}}
    </div>
    
{% endblock %}

{% block javascripts %}


{% endblock %}
