{% extends 'base.html.twig' %}

{% block title %}Quiero ser jugador =){% endblock %}

{% block body %}
    {{ parent() }} 

    <div id="app">
        <Jugador />  
    </div>  

    <div class="d-none">
        {{ form(formularioJugadores)}}
    </div>  
{% endblock %}

{% block javascripts %}{% endblock %}